@import url('https://fonts.googleapis.com/css?family=Londrina+Outline|Roboto:400,500,700&display=swap');

.container-fluid{
    padding-left: 0;
    padding-right:0;
}
/* Header  */

.headerBody{
    background-image: url('./assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.headerLogo {
    margin-left: 10vw;
    margin-top: 40px;
    width: 250px;
}

.headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5em;
    margin-top: -40px;
    height: 100vh;
    position: relative;
}

.headerTitle-Welcome{
    font-family: 'Londrina Outline', cursive;
    font-size: 7em;
    color: white;
}

.headerTitle-Secondary{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.headerIcon-Down{
    color: white;
    font-size: 3em;
    position: absolute;
    top: 82vh;
}


/* Buttons */

.buttons{
    line-height: 1em;
    border: none;
    color: white;
    padding: 1.25em 0.75em 1.25em 0.75em;
    font-size: 0.75em;
    letter-spacing: 0.25em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button-Purple{
    background-color: #8e44ad;
}

.button-Orange{
    background-color: #e67e22;
}

.links{
    text-decoration: none;
    color:  #8e44ad;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}




/* Body */

.bodyTitle{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1em;
}

.bodyTitle-Purple{
    color: #8e44ad;
}

.bodyHeight-75vh{
    min-height: 75vh;
}

.bodyHeight-50vh{
    min-height: 50vh;
}

.bodyHeight-25vh{
    min-height: 25vh;
}

.bodyImgTest{
    background-color: red;
}

.bodyTwoBanner{
    background-image: url('./assets/banner-1.jpg');
    background-size: cover;
}

.bodyDash-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    height: 100%;
}

.bodyDash-Text-Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 62.5vw;
    padding-right: 7vw;
    height: 100%;
}

.bodyFourBanner{
    background-image: url('./assets/banner-2.jpg');
    background-size: cover;
}

.imgWidth-100{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bodyText-Center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 5em;
    height: 100%;
}

.bodyLogo{
    height: 75px;
    width: 75px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.75em 0.75em 0.75em 0.75em;
    
}

.bodyLogo-Border{
    border-style: solid;
    border-radius: 50%;
    border-color: #8e44ad;
    border-width: 1px;
    margin: 1em 1em 1em 1em;
}

.bodyLogo-Label{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;    
}

.bodyLogoText-Align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIcon-Star{
    display: flex;
    color: #e67e22;
}

.bodyIcon-Star-Item{
    padding-right: 0.75em;
}

.background-Gray{
    background-color: #ecf0f1;
}




/* Carousel  */
.carouselFormat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 2em;
    height: 100%;
}

.carouselCaption{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 0.80em;
    min-height: 25vh;
    font-family: 'Roboto', sans-serif;
}

.carouselCaption-Title{
    color: #8e44ad;
    text-align:center;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.carousel-control-prev-icon{
    color: black;
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}
.carousel-indicators li {
    background-color: #e67e22;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.slide {
    padding-bottom: 2em;
    padding-top: 2em;
}

.customNextIcon{
    color: #8e44ad;
    font-size: 2em;
}

.customPrevIcon{
    color: #8e44ad;
    font-size: 2em;
}




/* Footer */
.footer-Center{
    text-align: center;
}

.footerText{
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.footer-Icon{
    display: flex;
    justify-content: center;
}

.footerSocial-Logo{
    height: 50px;
    width: 50px;
    margin-right: 0.5em;
    margin-left: 0.5em;
}





/* Animation */
.fadeIn{
    animation-duration: 6s;
}



/* Media Queries */

/* Portrait iPhones */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 

.headerBody{
    text-align: center;
}

.headerLogo{
    margin: 0;
    padding-top: 2em;
}

.headerTitle{
    margin: 0;
    line-height: 3em;
}

.headerTitle-Welcome{
    font-size: 4.5em;
}

.headerTitle-Secondary{
    font-size: 3em;
    padding-bottom: 0.5em;
}

.bodyTitle{
    font-size: 2em;
    text-align: center;
}

.bodyText-Center{
    padding-left: 5vw;
    padding-right: 5vw;
}

.imgWidth-100{
    object-fit: contain;
    
}

.bodyHeight-75vh{
    min-height: 60vh;
}

.bodyHeight-50vh{
    min-height: 30vh;
}

.bodyMobileHeight-50vh{
    min-height: 50vh;
    margin-top: -10vh;
}

.bodyTwoBanner{
    background-position: 55% 50%;
}

.bodyDash-Text{
    padding-left: 5vw;
    padding-top: 25vh;
}

.bodyDash-Text-Right{
    padding-left: 6vw;
    padding-right: 25vw;
   
}

.bodyFourBanner{
    background-position: 5% 50%;
    margin-top: 2vh;
}

.bodyIcon-Star{
    justify-content: center;
}

.carouselFormat{
    padding: 0;
}

.carouselCaption{
    padding-left: 15vw;
    padding-right: 15vw;
}

}